Aggregate "{{aggregate_short_name}}"
===================================

General Information
-------------------
This aggregate has the code `{{aggregate_short_name}}` and is named "{{aggregate_long_name}}". There are {{count_samples}} samples in this aggregate. Some summary information about them is given in table 1.

{{sample_table}}

-------

Processing
----------
* This report (and all the analysis) was generated using the GEFES project at: <http://xapple.github.io/gefes/>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}`.

* The results and all the files generated for this sample can be found at:

    {{results_directory}}

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------