Bin "{{bin_name}}"
========================

General Information
-------------------
This bin has number "{{bin_num}}". It is part of the binning results from "{{binner_version}}" in the assembly "{{assembly_name}}" in the project "{{project_name}}" along with {{binner_other_bins}} other bins.

-------

Processing
----------
* This report (and all the analysis) was generated using the GEFES project at:

    <http://xapple.github.io/gefes/>

* Version `{{project_version}}` of the pipeline was used.

* This document was generated at `{{now}}`.

* The results and all the files generated for this sample can be found at:

    {{results_directory}}

{{#git}}
* The exact git hash of the latest commit was: {{git_hash}}

* Also more simply referred to by its shortened tag `{{git_tag}}`.
{{/git}}
-------

{{#details}}
Details
----------

* {{good_bin_sentence}}

* This bin is made up of {{bin_count_contigs}} different contigs.

* It contains {{bin_count_prots}} predicted proteins.

* It contains {{bin_count_nucl}} total nucleotides.

* It has an average GC content of {{average_gc}}.

* This bin was assigned at the lowest level to: {{lowest_taxon}}

* This bin has a completeness metric of: {{completeness}}

* This bin has a contamination metric of: {{contamination}}

* This bin has a heterogeneity metric of: {{heterogeneity}}

-------
{{/details}}

{{#visualization}}
Visualization
-------------
To view all the contigs within this bin, we can plot the GC fraction against the sum of average coverage (in each sample) for each contig.

{{gc_x_totcov}}

-------
{{/visualization}}

{{#annotation}}
Annotation
----------
Taking the {{sample_count_contigs}} contigs generated in the previous mono-assembly step, we will attempt annotation using the "{{annotation_version}}" software. This procedure predicts the presence of {{sample_count_proteins}} proteins. When possible, each protein is assigned a function. The most common functions are shown in the table below:

{{sample_functions_table}}

-------
{{/annotation}}
